/* General Looks */
html {
  background-color: #333333;
  scrollbar-color: #FF638A #5bfbd0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 20px;
}
li {
  font-size: 20px;
}
span {
  color: #000000;
}
ul {
  color: aliceblue;
}
/* Body */
body {
  margin: 0 auto;
  color: #ffff;
  font-family: "latoregular", sans-serif;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  max-width: 76.7ch;
  padding: 0;
  line-height: 1.5;
  margin-bottom: 10px;
}
@font-face {
  font-family: "latoregular";
  src: url("/public/lato.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
/* links */
a:visited {
  color: #5bfbd0;
}
a {
  color: #5bfbd0;
  text-decoration: none;
}

a:hover:not(.blog-post){
  color: #FF638A;
  text-decoration: underline;
}
::selection {
  background-color: #5bfbd0;
  color: rgb(0, 0, 0);
}
/* Header */
header {
  background-color: #FF638A    ;
  color: rgb(0, 0, 0);
  text-align: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
  margin-top: 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: monospace;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  background: #FF638A    ;
  color: white;
  margin: 0.1rem;
  text-align: center;
}

.nav-links a:hover,
.nav-links a.active {
  background: white;
  color: black;
  text-decoration: none;
}

.expanded {
  display: unset;
}
/* mobile */
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
.hamburger {
  padding-right: 20px;
  padding: 5px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 6px;
  margin-bottom: 8px;
  background-color: #333333;
}
@media screen and (max-width: 635px) {
  .nav-links {
    display: none;
    margin-left: 80px;
  }
  .hamburger {
    display: block;
  }
  body {
    padding: 15px;
    padding-bottom: 2px;
  }
}
.nav-links.expanded {
  display: block;
}
