---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  .tag a {
    color: #000000;
    text-decoration: none;
    font-family: monospace;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 50px;
    text-decoration: none !important;
  }

  .tag {
    margin: 0.15em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    display: inline-block;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    background-color: #94b3c1;
  }
  .tag a:hover{
    text-decoration: none !important;
  }
  .tag:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 8px #000000;
    text-decoration: none !important;
  }
  .tag a:visited {
    color: black;
    text-decoration: none !important;
  }
</style>
