---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
const skills = [
  "C++",
  "Python",
  "JavaScript",
  "React",
  "Astro",
  "Various devleopment tools like Git, Github, VSCode, etc.",
];
---

<BaseLayout pageTitle={pageTitle}>
  <body>
    <h2>... andddd welcome</h2>

    <p>
      My name is Ajay (pronounced as /uh·juh·y/). On the web you can
      find me under the username <u>intincrab</u> and <u>heliumpng</u>. I’m 18
      years old and my pronouns are he/him.
    </p>

    <p>
      I'm learning web development currently and In my spare time, I’m
      usually scrolling on Twitter or Instagram, playing guitar & hiking.<br />
      In addition to my penchant for cinema in general, my cinematic proclivities
      tend to lean towards the realm of Asian film. If you're interested in exploring
      my preferences, you can find my favorite movies and reviews of the films I've
      watched on my <span style="color:aquamarine"
        ><a href="https://letterboxd.com/appyispepsi/">letterboxd</a></span
      > account.
    </p>
    <h2>Skills</h2><p></p><ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <h2>Certifications</h2>
    <ul>
      <li>
        <a
          href="https://www.udemy.com/certificate/UC-31e987ac-8064-4701-83d8-2c6423736da0/"
          >The Git & Github Bootcamp</a>
      </li>
    </ul>
    <h2>Contact</h2>
    <p>You can contact me on the following platforms:</p>
    <ul>
      <li>
        Email: <a href="mailto:exactlyajay.chauhan@gmail.com"
          >exactlyajay.chauhan@gmail.com</a
        >
      </li>
      <li>
        Discord: <a href="https://discord.com/users/c"
          ></a
        >
      </li>
    </ul>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</BaseLayout>
